/*--------------  Escondendo o scroll das páginas ---------------------*/
@-moz-document url-prefix() { /* Disable scrollbar Firefox */
    html{
      scrollbar-width: none;
     
    }
}
::-webkit-scrollbar{
    display: none;
}
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100;300;400;500&display=swap');
/*
    Fontes utilizadas:
    font-family: 'Anton', sans-serif;
    font-family: 'Roboto', sans-serif;
*/
body{
    background-color: #FFFFFF;
}
.root{
    width: 400px;
    height: 100vh;
    margin:0 auto;
    background-color: #E5E5E5;
}

@media screen and (max-width: 400px) {
    .root{
        width: 100vw;
    }
}